.container{
    width: 960px;
}
.img_style{
    width: 20%;
    border-radius: 50%;
}

.my_rounded{
    border-radius: 10px;
}
.my_rounded:hover{
    background-color: rgba(97, 160, 160, 0.185);
    transition-duration: 500ms;
    border: 1px solid rgba(0, 68, 255, 0.253) !important;

}
.div_selected{
    background-color: rgba(97, 160, 160, 0.185);
    transition-duration: 500ms;
    border: 1px solid rgba(0, 68, 255, 0.253) !important;
}
.sm-text{
    font-size: 14px;
}